*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-width: 1200px;
}

.container-nav{
    width: 98%;
    margin: 0 auto;    
}

.container{
    width: 80%;
    margin: 0 auto;    
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


nav .logo{
    float: left;
    padding-top: 25px;

}

.button-nav{
    margin-top: 20px;
    display: inline-block;
    
}



a{
    text-decoration: none;
    color: black;
}

.button{
    padding: 10px 0;
}
.button a{
    padding: 10px 20px;
    color: white;
    background-color: rgb(8, 107, 255);
    
}

.button-jumb{
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 200;
}

li{
    display: inline-block;
    padding: 0 20px;
    
}

ul{
    text-align: center;
    padding: 30px;

}

.sfondoblu{
    background-color: rgb(129, 176, 238);
}

h1{
    font-size: 98px;
    margin-bottom: 50px;
}

.c1{
    width: 30%;
    padding-right: 30px;
}

.c2{
    width: 70%;
}

.c2 img{
    width: 100%;
    margin-bottom: -100px;
}

.paddingtop{
    padding-top: 100px;
}

.margintop{
    margin-top: 20px;
}

p{
    padding: 10px 0;
}

.arrow{
    margin-top: 30px;
}
.arrow a{
    font-size: 50px;
}
