*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-width: 1200px;
}

.container-nav{
    width: 98%;
    margin: 0 auto;    
}

.containerjumbo{
    width: 85%;
    margin: 0 auto;
}

.container{
    width: 70%;
    margin: 0 auto;    
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

nav{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav .logo{
    float: left;
    padding-top: 25px;

}

.button-nav{
    margin-top: 20px;
    display: inline-block;
    
}

a{
    text-decoration: none;
    color: black;
}

.button{
    padding: 10px 0;
    display: block
}
.button a{
    padding: 10px 20px;
    color: white;
    background-color: rgb(8, 107, 255);
    
}

.col .button{
    text-align: center;
}

.col .button a{
    padding: 10px 50px; 
}

.button-jumb{
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 200;
}

.ulnav li{
    display: inline-block;
    padding: 0 20px;
    
}

.ulnav{
    text-align: center;
    padding: 30px;

}

.sfondoblu{
    background-color: rgb(129, 176, 238);
}

h1{
    font-size: 98px;
    margin-bottom: 50px;
}

h2{
    font-size: 40px;
}

.c1{
    width: 30%;
    padding-right: 30px;
}

.c2{
    width: 70%;
}

.c2 img{
    width: 100%;
    margin-bottom: -100px;
}

.paddingtop{
    padding-top: 100px;
}

.margintop{
    margin-top: 20px;
}

.margintop40{
    margin-top: 40px;

}

.margintop100{
    margin-top: 200px;
}

.marginbot{
    margin-bottom: 30px;
}

.arrow{
    margin-top: 30px;
}

.arrow a{
    font-size: 50px;
}

.cp{
    width: 15px;
    height: 15px;
    border: 4px solid rgb(0, 132, 255);
    border-radius: 50%;
    display: inline-block;
}

.cv{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;

}
.vertical{
    vertical-align: 1px;
}

.col{
    float: left;
    min-height: 500px;
    width: calc((100% - 120px) / 3);
    border: 1px solid lightgray;
    min-height: 800px;
}

.col-center{
    margin: 0 60px;
}

.testa{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 8px;
}

h4{
    margin-top: 30px;
    font-weight: 700;
    font-size: 25px;
}


h5{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

.col h5{
    margin-top: 30px ;
}

.riga h5{
    margin-top: 10px;
    margin-bottom: 15px;

}
li{
    padding:10px 0;
}

.col li{
    padding-left: 20px;
}

ul{
    list-style-type: none;
}

.check{
    color: blue;
    font-weight: 900;
    margin-left: -19px;
}

.ev{
    font-weight: 700; 
    margin: 10px 0;
}

.grey{
    color: gray;
    margin-bottom: 30px;
}

.sottobotton{
    padding: 20px 0;
}

.sottobotton a{
    color: blue;
    text-decoration: underline;
    
}

.sottobotton span{
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
}

.width100{
    width: 100%;
}

.riga{
    border: 1px solid lightgray;
}

.item{
    width: 50%;
}

.item img{
    width: 100%;

}

.items{
    padding: 30px;
}

.items p{
    margin-top: 20px;
    margin-bottom: 30px;
} 

.items a{
    padding: 10px 15px;
    border: 1px solid black ;
}

.bloc{
    width: calc((100% / 3) - 80px);
    margin-bottom: 100px;
}

.bloc-c{
    margin: 0 40px;
}

.bloc img {
    width: 100%;
}

.bloc h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.c-bloc h2{
    margin-top: 80px;
    margin-bottom: 30px;
}
